img{
	opacity:0.6;
}

div{
	height:100px;
}


#home{
	height:100%;
	padding-bottom:2000px;
	
}


/*#welcome{
  color:#ffffff;
  font-family: Courier,"Lucida Console",  monospace;
  text-align:center;
  padding-top: 115px;
  font-size:50px;
}*/

.about_content{
  color:#3086A3;
  text-align: center;
}

#details{
	height:10%;
}

#target{
  
}

#start{
  background-color: #154C6A;
  color: #ffffff;
  height:50px;
  width: 150px;
  font-size: 15px


}


#start:hover{
  background-color: #2C96CF;
  color: #ffffff;
  font-family: "Arial","Lucida Console",  monospace;

}
#travel{
  color:#ffffff;
  font-family: "Arial","Lucida Console",  monospace;
  text-align:center;
    height:73%;
    font-size:50px;
	background-image: url("car_mountail.jpg");

  background-color:#000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*position: absolute;*/
  top:0px;
  left:0px;
  width: 100%;
  padding-top: 80px;
  font-weight: bold;
   
}

#intro{
  font-size: 20px;
  width:75%;
  margin: auto;
  padding: 10px;
}



body,html{
	height:100%;
}





