

div{
	height:100px;
}


#home{
	height:100%;
	padding-bottom:2000px;
	
}


#travel img{
  opacity:0.2;
}

/*#welcome{
  color:#ffffff;
  font-family: Courier,"Lucida Console",  monospace;
  text-align:center;
  padding-top: 115px;
  font-size:50px;
}*/

.about_content{
  color:#3086A3;
  text-align: center;
}


ul{
  background-color: #154C6A;
}
li{
  background-color: #154C6A;
  float:right;
  margin-right:10px;
  font-size: 20px;
}

li a {
  display: block;
  padding: 8px;
  background-color: #154C6A;
  margin-top: 10px;
  padding-right: 5px;
  font-family: "Arial","Lucida Console",  monospace;
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logo{
  float:left;
  padding-right: 5px;
}

#details{
	height:10%;
}

#login_section{
  position: center;
}
#target{
  
}

#login_section, #signup_section{
  width:50%;
}

#login{
  float: right;
}

#start{
  background-color: #154C6A;
  color: #ffffff;
  height:50px;
  width: 150px;
  font-size: 15px


}


#start:hover{
  background-color: #2C96CF;
  color: #ffffff;
  font-family: "Arial","Lucida Console",  monospace;

}
#travel{
  color:#ffffff;
  font-family: "Arial","Lucida Console",  monospace;
  text-align:center;
    height:73%;
    font-size:50px;
	background-image: url("car_mountail.jpg");

  background-color:#000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*position: absolute;*/
  top:0px;
  left:0px;
  width: 100%;
  padding-top: 80px;
  font-weight: bold;
   
}


.slides{
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#intro{
  font-size: 20px;
  width:75%;
  margin: auto;
  padding: 10px;
}



body,html{
	height:100%;
}


#login_background{
  
    height:73%;
  
  background-image: url("speedo.jpg");

  background-color:#000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*position: absolute;*/
  top:0px;
  left:0px;
  width: 100%;
  padding-top: 80px;

   
}

#login_box{
  width:30%;
  height:70%;
  background-color: #ffffff;
  margin-left: 34%;
  margin-top: 2%;
  opacity:0.7;
  
  border-style:outset;
}

.labels{
  color: #000000;
  font-size: 20px;
  font-weight:normal;
  font-family: "Arial","Lucida Console",  monospace;

}

#first{

}

#carousel_container{
  color:#000000;
 
    height:90%;
   position: relative;
  

  background-color:#000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*position: absolute;*/
  top:0px;
  left:0px;
  width: 100%;
 
  
   
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.mySlides{
  height:100%;
}

.prev {
  position: absolute;
  bottom:44%;

  left: 16px;
}

.next{
   position: absolute;
  top:44%;

  right: 16px;
}

#prev1,#next1{
  cursor:pointer;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size:50px;
  font-weight: bold;
  color:#000000;
}

.prev,.next{
  cursor:pointer;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size:50px;
  font-weight: bold;

}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.prev:hover,.next:hover{
  color:#000000;
}

.numberText{
  position: absolute;
  top: 8px;
  left: 16px;
}

.num{
  position: absolute;
  top:8px;
  color: #ffffff;
  left: 16px;

}

/*.slides{
  display:none;
}
*/

#1,#2{
  display:"none";

}

.slides{
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
}


#ok{
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
 
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/
